@font-face {
    font-family: 'Anurati';
    src: url('anurati.otf') format('truetype');
}

h1 {
    font-family: 'Anurati', sans-serif;
    font-size: 100px;
}

h2 {
    font-size: 16px;
    position: absolute;
    top: 940px;
    left: 1700px;
}

.give_up_button {
    position: absolute;
    top: 255px;
    left: calc(50% - 290px);
    width: 125px;
    height: 60px;
    color: #fff;
    font-size: 20px;
    background-color: #3e3e42;
    border: 3px solid #2d2d30;
    border-radius: 10px;
    cursor: pointer;
}

.reset_button {
    position: absolute;
    top: 255px;
    left: calc(50% + 165px);
    width: 125px;
    height: 60px;
    color: #fff;
    font-size: 20px;
    background-color: #3e3e42;
    border: 3px solid #2d2d30;
    border-radius: 10px;
    cursor: pointer;
}

.delete_button {
    position: absolute;
    top: 879px;
    left: calc(50% - 304px);
    width: 125px;
    height: 60px;
    color: #fff;
    font-size: 20px;
    background-color: #3e3e42;
    border: 3px solid #2d2d30;
    border-radius: 10px;
    cursor: pointer;
}

.enter_button {
    position: absolute;
    top: 879px;
    left: calc(50% + 179px);
    width: 125px;
    height: 60px;
    color: #fff;
    font-size: 20px;
    background-color: #3e3e42;
    border: 3px solid #2d2d30;
    border-radius: 10px;
    cursor: pointer;
}

.keyboard {
    position: absolute;
    top: 700px;
    gap: 2px;
}

.keyboard_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px;
}

.key {
    width: 50px;
    height: 60px;
    color: #fff;
    font-size: 24px;
    background-color: #3e3e42;
    border: 3px solid #2d2d30;
    border-radius: 10px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
}

.button {
    width: 60px;
    height: 60px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    background-color: #3e3e42;
    border: 3px solid #2d2d30;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2d2d30;
}