@font-face {
    font-family: 'Anurati';
    src: url('anurati.otf') format('truetype');
}

h1 {
    font-family: 'Anurati', sans-serif;
    font-size: 100px;
}

h2 {
    font-size: 16px;
    position: absolute;
    top: 940px;
    left: 1700px;
}

.utility button:nth-child(1) {
    position: absolute;
    top: 250px;
    left: 682px;
    width: 125px;
    height: 60px;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    background-color: #3e3e42;
    border: 3px solid #2d2d30;
    border-radius: 10px;
    cursor: pointer;
}

.utility button:nth-child(2) {
    position: absolute;
    top: 250px;
    left: 1113px;
    width: 125px;
    height: 60px;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    background-color: #3e3e42;
    border: 3px solid #2d2d30;
    border-radius: 10px;
    cursor: pointer;
}

.utility button:nth-child(3) {
    position: absolute;
    top: 880px;
    left: 656px;
    width: 125px;
    height: 60px;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    background-color: #3e3e42;
    border: 3px solid #2d2d30;
    border-radius: 10px;
    cursor: pointer;
}

.utility button:nth-child(4) {
    position: absolute;
    top: 880px;
    left: 1139px;
    width: 125px;
    height: 60px;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    background-color: #3e3e42;
    border: 3px solid #2d2d30;
    border-radius: 10px;
    cursor: pointer;
}

.keyboard {
    position: absolute;
    top: 700px;
    gap: 2px;
}

.keyboard_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px;
}

.key {
    width: 50px;
    height: 60px;
    color: #fff;
    font-size: 24px;
    background-color: #3e3e42;
    border: 3px solid #2d2d30;
    border-radius: 10px;
    cursor: pointer;
}

.words {
    position: absolute;
    top: 250px;
    gap: 2px;
}

.words_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px;
}

.button {
    width: 60px;
    height: 60px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    background-color: #3e3e42;
    border: 3px solid #2d2d30;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00fcc5;
}